body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	background: url('images/background.jpg') repeat;
}
h1, h2, h3, h4, h5, h6{
	font-weight:300;
}
p, table, tr, td, footer{
	font-size:18px;
	font-weight:300;
}
a, a:hover, a:link, a:visited{
	color:#333;
}
footer{
	position: absolute;
	bottom:0;
	left:auto;
	color:white;
}
.container{
	display:block;
	width:80%;
	margin:25px auto;
	padding:25px;
	background-color:#fff;
	border:1px dotted #333;
	opacity: 0.95;
}
#shopDetail{
	width:100%;
}
#shopDetail p{
	margin:5px 0 5px 20px;
}
#shopDetail h2{
	padding:30px 0 0 20px;
 }
.indexClass{
	background-color:#ddd;
}
.selected{
	text-decoration: none;
	font-weight:600;
}
#detailsGlance{
	width:100%;
	padding: 0;
}
#detailsContainer{
	display:none;
	width:100%;
	height:400px;
	background-color:#eee;
	margin:0 0 25px 0;
	clear:both;
}
.mapEmbed span{
	/*display:block;*/
	float:right;
}

@media screen and (max-width: 700px){
	span iframe{
		float:none;
		clear:left;
		width:100%;
	}
	#detailsContainer{
	display:none;
	width:100%;
	height:700px;
	background-color:#eee;
	margin:0 0 25px 0;
	clear:both;
}
}
